/* Variants */
.typography-h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.typography-h2 {
  font-size: 2rem;
  font-weight: 600;
}
.typography-h3 {
  font-size: 1.75rem;
  font-weight: 500;
}
.typography-h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
.typography-h5 {
  font-size: 1.25rem;
  font-weight: 500;
}
.typography-h6 {
  font-size: 1rem;
  font-weight: 500;
}
.typography-body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 10px;
  margin: 0;
}
.typography-caption {
  font-size: 0.75rem;
  font-weight: 400;
}

/* Color */
.typography-primary {
  color: #212121;
}
.typography-secondary {
  color: #757575;
}
.typography-warning {
  color: #d6bb23;
}
.typography-danger {
  color: #d32f2f;
}
.typography-success {
  color: #388e3c;
}
.typography-default {
  color: #9e9e9e;
}
